.mainContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #7395AE;
    color: black;
}

.navBar{
    background-color: #557A95;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.mainLogoHolder{
    flex: 1;
    padding-top: 2%;
    height: 100%;
    text-align-last: center;
}

.mainSearchBar{
    flex: 1;
    padding: 3%;
    width: 100%;

}

.infoBox{
    height: 100%;
    text-align-last: center;
}

.mainLogoText{
    flex: 1;
    padding-top: 4%;
    padding-bottom: 0%;
    color: white;
}

.stepsCard{
    padding: 1%;
    align-content: center;
    color: black;
}

.bg-primary{
    background-color: #557A95;
}